In [8]:
"""ANS1
Two method are  given to write comment in python code 
1.single line comment ('#' is used for this purpose )
2.multi line comment ("""""")('''''') three inverted double commas are used for multi line comment both side of comment """

"ANS1\nTwo method are  given to write comment in python code \n1.single line comment ('#' is used for this purpose )\n2.multi line comment ()('''''') three inverted double commas are used for multi line comment both side of comment "

In [2]:
"""ANSWER 2"""
"""Varibles are basically place holders for some data values for example if we have a int type  data value 32 then we can store it in a variable 
like  a = 32 (varible_name = value)  many type of data we have int ,float ,complex,string etc. """

'Varibles are basically place holders for some data values for example if we have a int type  data value 32 then we can store it in a variable \nlike  a = 32 (varible_name = value)  many type of data we have int ,float ,complex,string etc. '

In [5]:
my_name ="amit " #declaring my_name variable  and assiging string type data amit

In [7]:
"""ANSWER 3  ,IN pyhton we can convert one data type to another type using example we can understand """

'ANSWER 3  ,IN pyhton we can convert one data type to another type using example we can understand '

In [8]:
my_rollnumber = 21

In [9]:
type(my_rollnumber)

int

In [10]:
number = float(my_rollnumber)

In [11]:
number

21.0

In [12]:
type(number) # so we have changed int type of data to float type data

float

In [1]:
"""ANSWER 5"""

'ANSWER 5'

In [5]:
my_list = [1, 2, 3, 4, 5]

In [6]:
my_list[1:3:1]

[2, 3]

In [7]:
'''ANSWER6     In mathematics a complex number can be represented as a+ib where a and b are real number and i is 
complex number or imaginary number (-1)^1/2 hence complex number is sum of real and imaginary number but in python 
it is represented as a +jb where j is imaginary number 
'''

'ANSWER6     In mathematics a complex number can be represented as a+ib where a and b are real number and i is \ncomplex number or imaginary number (-1)^1/2 hence complex number is sum of real and imaginary number but in python \nit is represented as a +jb where j is imaginary number \n'

In [8]:
a= complex(3,4)

In [9]:
a

(3+4j)

In [10]:
type(a)

complex

In [11]:
'''ANSWER7   In pyhton  to declare a variable we simply write name of variable and assigning value 
to it '''

'ANSWER7   In pyhton  to declare a variable we simply write name of variable and assigning value \nto it '

In [12]:
my_name ='amit' #declare a variable my_name and assignig 'amit' string type data

In [13]:
type(my_name)

str

In [14]:
'''ANSWER8 '''

'ANSWER8 '

In [15]:
price =9.99

In [16]:
type(price)

float

In [17]:
'''ANSWER9'''

'ANSWER9'

In [18]:
name = 'Amit kumar'

In [19]:
name     #this show what is value in this varible

'Amit kumar'

In [20]:
type(name)

str

In [21]:
print(name)    #this is correct  way to print the vale of the variable

Amit kumar

In [22]:
'''ANSWER10'''

'ANSWER10'

In [23]:
 my_world = "Hello, World!"

In [24]:
my_world[6:12]

' World'

In [25]:
'''ANSWER11'''

'ANSWER11'

In [28]:
is_student = True

In [29]:
type(is_student)

bool

In [31]:
if is_student == True :
    print('a student')
else :
        print('not a student ')

a student

In [32]:
is_student =False

In [33]:
if is_student == True :
    print('a student')
else :
        print('not a student ')

not a student